@{
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
    //  Layout = "";

}

<h4>If you have an account with us , we have sent an email to reset your password !</h4> <br />

<h4>Click on the link provided in the email to reset your password !</h4>