@model RegisterVM
@{
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
   // Layout = "";

}

<form method="post" asp-action="Register" asp-controller="Account">
    <h3 class="text-muted mb-1 text-center" style="font-size:20px">Create an Account </h3>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3 form-group">
        <label class="mb-2" asp-for="Email"></label> <span class="text-danger"> *</span>
        <input type="email" class="form-control" asp-for="Email" autocomplete="Email" placeholder="Enter Email" id="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label class="mb-2" asp-for="Password"></label><span class="text-danger"> *</span>
        <input type="password" class="form-control" asp-for="Password" placeholder="Enter Password" id="password" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <label class="mb-2" asp-for="ConfirmPassword"></label><span class="text-danger"> *</span>
        <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="Email" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        <button type="submit" class="btn btn-primary m-2  float-end">Register</button>
    </div>


</form>

     <div>
         <a asp-action="LogIn" asp-controller="Account" > Sign In if you already have an account </a>
      </div>

@section scripts
{
    <partial name="_ValidationScriptsPartial.cshtml" />
}