@{
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
    //  Layout = "";

}

<h3>Congratulations ! Your password has been reset.</h3> <br />
<h3>Please login again to access your account .</h3> <br />

<div>
    <a asp-action="LogIn" asp-controller="Account" class="btn btn-primary"> Sign In </a>
</div>
